<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <title>Greeter app</title>
  </head>
  <body>
    <p>
      <% if @name.include?("<script>") %>
        <% status 400 %>
        <% return 'wrong input' %>
      <% end %>
      Hi <%= @name %>!
    </p>
  </body>
</html>