<html>
    <head> </head>
    <body>
        <form action="/albums" method="POST">
            <label>Album Title</label>
            <input type="text" name="title">
            <label>Album Release Year</label>
            <input type="text" name="release_year">
            <label>Artist ID</label>
            <input type="text" name="artist_id">

            <input type="submit" value="Submit album">
        </form>
    </body>

</html>