<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <div>
      Title: <%= @albums.first.title %>
      Released: <%= @albums.first.release_year %>
    </div>

    <div>
      Title: <%= @albums[1].title %>
      Released: <%= @albums[1].release_year %>
    </div>

    <!-- ... -->
  </body>
</html>