<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <p> <a href="albums/1">Doolittle</a> </p> 
    <p> <a href="/albums/2">Surfer Rosa</a> </p>
    <p> <a href="/albums/3">Waterloo</a> </p>
    <p> <a href="/albums/4">Super Trouper</a> </p>
    <p> <a href="/albums/5">Bossanova</a> </p>
    <p> <a href="/albums/6">Lover</a> </p>
    <p> <a href="/albums/7">Folklore</a> </p>
    <p> <a href="/albums/8">I Put a Spell on You</a> </p>
    <p> <a href="/albums/9">Baltimore</a> </p>
    <p> <a href="/albums/10">Here Comes the Sun</a> </p>
    <p> <a href="/albums/11">Fodder on My Wings</a> </p>
    <p> <a href="/albums/12">Ring Ring</a> </p>

    <!-- ... -->
  </body>
  
</html>